* {
  transition: 1s;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
}

.low-usage {
  background-image: url('https://images.unsplash.com/photo-1469793032099-27d09c984b8b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #000;
  box-shadow: inset 3500px 0 0 0 rgba(89, 255, 47, 0.5);
  border-color: rgba(250, 0, 0, 1);
}

.medium-usage {
  background-image: url('https://images.unsplash.com/photo-1614088459293-5669fadc3448?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1867&q=80');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  box-shadow: inset 3500px 0 0 0 rgba(0, 0, 0, 0.8);
  border-color: rgba(0, 0, 0, 1);
}

.high-usage {
  background-image: url('https://images.unsplash.com/photo-1529852766667-d93fae7b267c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  box-shadow: inset 3500px 0 0 0 rgba(255, 47, 47, 0.5);
  border-color: rgba(250, 0, 0, 1);
}

.center-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.thermostat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
  font-size: 2rem;
}

.thermostat h1 {
  margin-bottom: 40px;
  font-size: 5rem;
}

.thermostat button {
  width: 50%;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  font-size: 1.2rem;
  border-radius: 10px;
  -webkit-box-shadow: 9px 9px 15px 7px rgba(0,0,0,0.8); 
  box-shadow: 4px 4px 7px 3px rgba(0,0,0,0.7);
}

.thermostat button:hover {
  transform: scale(1.1);
  border-radius: 20px;
}

.inc-dec-buttons {
  display: flex;
  justify-content: space-between;
  width: 50%
}

.inc-dec-buttons button {
  width: 45%;
}

#temperature-up {
  background: linear-gradient(to right, #e49191, #ff0000);
}

#temperature-down {
  background: linear-gradient(to right, #91a7e4, #002fff);
}

#temperature-reset {
  background: linear-gradient(to right, #979797, #000000);
  color: #fff;
}

#powersaving-on {
  background: linear-gradient(to right, #93ff93, #22ca00);
}

#powersaving-off {
  background: linear-gradient(to right, #e49191, #ff0000);
}

.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
}

#current-temperature {
  font-size: 4rem;
}

#select-city {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#select-city input {
  width: 250%;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  font-size: 1.2rem;
  border-radius: 10px;
  text-align: center;
  outline: none;
  -webkit-box-shadow: 9px 9px 15px 7px rgba(0,0,0,0.8); 
  box-shadow: 4px 4px 7px 3px rgba(0,0,0,0.7);
}

#select-city input:hover {
  transform: scale(1.1);
  border-radius: 20px;
}

#select-city input[type="text"] {
  background: linear-gradient(to right, #b8b8b8c4, #ffffffc4);
  color: black;
}

#select-city input[type="submit"] {
  background: linear-gradient(to right, #979797, #000000);
  color: #fff;
}

.min-max {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.temps h1 {
  margin-bottom: 20px;
  margin-top: 20px;
}